<section class="product-list">
    <div class="product">
        <div class="product-part">
            <img src="https://static.tildacdn.com/tild6439-6561-4330-b262-653263333332/kazan_category_outsi.jpg" alt="">
            <p>Title</p>
        </div>

        <div class="product-part">
            <p>squirrels</p>
            <p>fats</p>
            <p>carbohydrates</p>
            <p>callories</p>
        </div>
    </div>

    <div class="product">
        <div class="product-part">
            <img src="https://static.tildacdn.com/tild6439-6561-4330-b262-653263333332/kazan_category_outsi.jpg" alt="">
            <p>Title</p>
        </div>

        <div class="product-part">
            <p>squirrels</p>
            <p>fats</p>
            <p>carbohydrates</p>
            <p>callories</p>
        </div>
    </div>    <div class="product">
        <div class="product-part">
            <img src="https://static.tildacdn.com/tild6439-6561-4330-b262-653263333332/kazan_category_outsi.jpg" alt="">
            <p>Title</p>
        </div>

        <div class="product-part">
            <p>squirrels</p>
            <p>fats</p>
            <p>carbohydrates</p>
            <p>callories</p>
        </div>
    </div>    <div class="product">
        <div class="product-part">
            <img src="https://static.tildacdn.com/tild6439-6561-4330-b262-653263333332/kazan_category_outsi.jpg" alt="">
            <p>Title</p>
        </div>

        <div class="product-part">
            <p>squirrels</p>
            <p>fats</p>
            <p>carbohydrates</p>
            <p>callories</p>
        </div>
    </div>    <div class="product">
        <div class="product-part">
            <img src="https://static.tildacdn.com/tild6439-6561-4330-b262-653263333332/kazan_category_outsi.jpg" alt="">
            <p>Title</p>
        </div>

        <div class="product-part">
            <p>squirrels</p>
            <p>fats</p>
            <p>carbohydrates</p>
            <p>callories</p>
        </div>
    </div>    <div class="product">
        <div class="product-part">
            <img src="https://static.tildacdn.com/tild6439-6561-4330-b262-653263333332/kazan_category_outsi.jpg" alt="">
            <p>Title</p>
        </div>

        <div class="product-part">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
        </div>
    </div>
</section>