<section class="product-list">
    <!-- Filtering -->
    <div class="product">
        <div class="product-part">
            {{chooseProduct | rndCalls: count}}
        </div>
    </div>
    <div class="product">
        <div class="product-part">
            <img src="https://static.tildacdn.com/tild6439-6561-4330-b262-653263333332/kazan_category_outsi.jpg" alt="">
            <p (click)="filteringList(0)">Title</p>
        </div>
        <div class="product-part">
            <p (click)="filteringList(1)">squirrels</p>
            <p (click)="filteringList(2)">fats</p>
            <p (click)="filteringList(3)">carbohydrates</p>
            <p (click)="filteringList(4)">callories</p>
        </div>
    </div>

    <!-- List -->
    <div *ngFor="let product of products" (click)="setChooseProduct(product)" class="product">
        <div class="product-part">
            <img src="https://static.tildacdn.com/tild6439-6561-4330-b262-653263333332/kazan_category_outsi.jpg" alt="">
            <p>{{product.title}}</p>
        </div>
        <div class="product-part">
            <p>{{product.squirrels}}</p>
            <p>{{product.fats}}</p>
            <p>{{product.carbohydrates}}</p>
            <p>{{product.callories}}</p>
        </div>
    </div>


    <!-- Inputs -->
    <div class="inputs">
        <p>Length {{length}}</p>
        <input type="number" [(ngModel)]="length" (keyup)="reRenderProductList()">


        <p>Count Product {{count}}</p>
        <input type="number" [(ngModel)]="count">
    </div>
</section>